<!DOCTYPE html>

<html>
	<head>
    <title>Index</title>
    <meta charset="UTF-8">
  	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  	<script src="/socket.io/socket.io.js"></script>
    <script src="/assets/scripts/index.js"></script>
  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		  <link rel="stylesheet" type="text/css" href="/assets/css/landing_page.css">
  </head>

	<body>

		<div class = "container-fluid wrapper">
			<div class="col-sm-12 center">
				<div class="col-sm-12 text-wrapper">
						<h1> Settle </h1>
						<hr style="width: 15%; color: green; height: 4px; background-color:green;" />
							<button type="button" class = "btn btn-md btn-primary" id='mentor-button'>Mentor</button>
							<button type="button" class = "btn btn-md btn-primary" id='mentee-button'>Mentee</button>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>
