<!DOCTYPE html>

<html>
	<head>
    <title>Borderless</title>
    <meta charset="UTF-8">
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="scripts/script.js" defer></script>
	<link href="css/style.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
    <header>
     <nav class="navbar navbar-inverse">
        <div class="container-fluid" id="nav">
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav navbar-nav">
                   <li class="nav"><a href="/dashboard">Home</a></li>
                    <li class="nav"><a href="/profile">Profile</a></li>
                    <li class="nav"><a href="/request">Post a request</a></li>
                    <li class="nav"><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
	<body>

	</body>

</html>
