<!DOCTYPE html>

<html>
	<head>
    <title>Index</title>
    <meta charset="UTF-8">
  	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  	<script src="/socket.io/socket.io.js"></script>
    <script src="../assets/scripts/index.js"></script>
  	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <button id='mentor-button'>Mentor</button>
    <button id='mentee-button'>Mentee</button>
  </head>
</html>
