body{
  margin-top: 30px;
  background: linear-gradient(#E8F6EC, #F9FFE9);
}
.card{
  margin-top: 15px;
  background-color: #7fc18eb0 !important;
}
#messageArea{
  display: none;
}

#welcome-container{
  font-weight: 350 !important;
  font-size: 20px !important;
}

#see-matches{
  margin-top: 15px;
  display:none;
}

#pick-matches{
  margin-top: 15px;
  display:none;
}

.apply-margin{
    margin-top : 200px;
}

.col-md-4{
  margin: auto;
}
